@model Vaskelista.Models.Room

@{
    ViewBag.Title = "Details";
}

<h2>Rom</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Rediger", "Edit", new { id = Model.RoomId }) |
    @Html.ActionLink("Tilbake til romoversikten", "Index")
</p>
