@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Min uke</h1>
<section class="el-uke-oversikt">
    <section class="uke-oversikt-dag">
        <h3 class="tittel">Mandag</h3>
        <ul>
            <li>15:32 - Vask gulv kjøkken</li>
            <li>19:19 - Ta oppvask</li>
        </ul>
    </section>
    <section class="uke-oversikt-dag">
        <h3 class="tittel">Tirsdag</h3>
        <ul>
            <li>08:00 - Ta ut søppel</li>
            <li>20:00 - Rydd soverom</li>
        </ul>
    </section>
    <section class="uke-oversikt-dag">
        <h3 class="tittel">Onsdag</h3>
        <ul>
            <li>Andre planer?</li>
        </ul>
    </section>
    <section class="uke-oversikt-dag">
        <h3 class="tittel">Torsdag</h3>
        <ul>
            <li>Andre planer?</li>
        </ul>
    </section>
    <section class="uke-oversikt-dag">
        <h3 class="tittel">Fredag</h3>
        <ul>
            <li>Andre planer?</li>
        </ul>
    </section>

</section>