.transition (@transition) {
	-webkit-transition: @transition;  
	-moz-transition:    @transition;
	-ms-transition:     @transition; 
	-o-transition:      @transition; 
    transition:         @transition;
}

@color-background: #ffffff;
@color-text: #000000;
@font-family-regular: 'Schoolbell', cursive;
@font-family-headers: 'Patrick Hand SC', cursive;
@body-padding: 15px;

body {
    @media (min-width: 700px) {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    background-color: @color-background;
    color: @color-text;
    font-family: @font-family-regular;
}

h1,h2,h3,h4,h5,h6,h7 {
    font-family: @font-family-headers;
}

h2 {
    font-size: 40px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: @body-padding;
    padding-right: @body-padding;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


/* Remove bullets from option lists */
.form-checkbox-list {
    list-style-type: none;
    margin-top: 0.5em;
    padding-left: 0;
}

.form-weekday-list {
    li {
        display: inline-block;
        padding-right: 0.5em;
    }
    input[type="checkbox"] {
        position: relative;
        top: -6px;
    }
}

/* task-index page */

/* copied from bootstrap 3 */
.table tbody>tr>td.vert-align
{
    vertical-align: middle;
}

input[type="checkbox"] {
	background-color: #ffffff;
	border: 2px solid #000000;
	border-radius: 2px;
	display: inline-block;
	padding: 7px;
	position: relative;
    vertical-align: bottom;
	-webkit-appearance: none;
}

input[type="checkbox"]:after {
    border: 0px;
    content: '\2713';
    color: #000000;
	font-size: 35px;
    opacity: 0;
	position: absolute;
	right: -12px;
    vertical-align: bottom;
	top: -22px;
    .transition(0.25s);
}

input[type="checkbox"]:checked:after {
    opacity: 1;
}

input[type="checkbox"]:focus {
    outline: 0;
}
.my-week {
    padding-left: 0;
    padding-right: 0;
    h2 {
        padding-left: @body-padding;
    }
    /* week-table */
    .week-table {
        input[type="checkbox"] {
            position: relative;
            top: -0.25em;
        }

        font-size: 1.25em;
        position: relative;
        box-sizing: border-box;
    }
}

td.snug, th.snug {
    width: 1px;
    white-space: nowrap;
}

